.videos {
    display: flex;
    flex-direction: column;
    padding: 0 5rem 5rem 5rem;
    margin-top: 1.25rem;
    gap: 1.875rem;
}

.videos__row {
    display: flex;
    gap: 1.875rem;
}

.video-block {
    width: 16.8125rem;
    height: 15.625rem;
    padding: 0 0 0.625rem 0;
    transition: 100ms;
    border-radius: 10px;
}

.video-block__a {
    height: 15.625rem;
}

.video-block:hover {
    width: 16.8125rem;

    transition: 100ms;
}

.video-block__video-preview {
    width: 16.8125rem;
    height: 9.4375rem;
}

.video-block__name {
    font-family: 'Heebo', sans-serif;
    color: var(--vs-yellow);
}

.videos__channel-block {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.confirmed {
    height: 0.625rem;
    width: 0.625rem;

}

.videos__information {
    margin-top: 0.3125rem;
    display: flex;
    align-items: center;
    gap: 0.625rem;
}

.video-block__statistic {
    display: flex;
    justify-content: space-between;
    margin-top: 0.4375rem;
}

.video-block__statistic * {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 0.5625rem;
    letter-spacing: -0.04em;

    color: var(--vs-yellow);
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}

.footer-nav {
    width: 100%;
    height: 5vh;
    background: var(--vs-background);
    border-top: 0.125rem solid var(--vs-highlighted);
    justify-content: space-evenly;
    align-items: center;
    gap: 1.25rem;
    display: none;
}

.footer__footer-nav {
    bottom: 0;
}

.footer-nav__svg-logo {
    display: none;
}

.link {
    text-decoration: underline;
    color: #4d96ff;
}

@media (max-width: 950px) {
    .sidebar {
        display: none;
    }

    .footer-nav {
        display: flex;
    }

    .footer-nav__svg {
        width: 20px;
    }

    .footer-nav__svg-logo {
        width: 100px;
    }
}