.logreg-body {
    background-image: url("../images/reglog/background.jpg");
    background-repeat: no-repeat;
    min-height: 98vh;
}

.logreg-main {
    display: flex;
    justify-content: center;
    align-content: center;
}

.login__title {
    text-align: center;
    font-family: var(--vs-russian-font);;
    font-size: 22px;
    letter-spacing: -0.04em;

    color: var(--vs-yellow);
}

.login {
    margin: auto;
    margin-top: 20px;
}

.logreg-form {
    background: rgba(19, 18, 18, 0.68);
    box-shadow: 0 0 46px 24px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 5px;
    padding: 42px;
}

.logreg__input-box {
    position: relative;
}

.input__label {
    position: absolute;
    top: 25px;
    color: #757575;
    left: 13px;
    font-family: var(--vs-russian-font);;
    font-size: 13px;
    transition: 200ms;
    pointer-events: none;
}

.login__place:focus ~ label,
.login__place:valid ~ label{
    top: 0;
    transition: 200ms;
}

.input-checkbox {
    background-color: var(--vs-yellow);
    border: 1px solid var(--vs-yellow);
    border-radius: 5px;
}

.input-checkbox__label {
    font-family: var(--vs-russian-font);
    font-size: 10px;
    margin-left: 10px;
    color: var(--vs-yellow);
}

.login__place {
    position: relative;
    display: block;
    margin: 20px auto;
    width: 250px;
    height: 50px;
    background-color: unset;
    padding: 0 11px;
    font-family: var(--vs-russian-font);;
    font-size: 13px;
    letter-spacing: 0.1em;
    border: 0;
    border-bottom: 1px solid var(--vs-yellow);
    outline: 0;

    color: var(--vs-yellow);
}

.reglog__input-img {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 25px;
    left: 90%;
    bottom: 0;
    pointer-events: none;
}

.login__submit {
    background-color: var(--vs-yellow);
    color: #131212;
    font-family: var(--vs-russian-font);;
    transition: 200ms;
    margin-top: 10px;
    width: 275px;
    height: 40px;
    border: 1px solid var(--vs-yellow);
    border-radius: 5px;
}

.login__submit:hover {
    background-color: unset;
    transition: 200ms;
    color: var(--vs-yellow);
}

.reglog_a {
    display: block;
    text-align: center;
    font-family: var(--vs-russian-font);
    font-size: 10px;
    letter-spacing: -0.04em;
    text-decoration-line: underline;
    margin-top: 10px;

    color: var(--vs-yellow);
}