.video {
    margin: 38px 0 0 129px;
    padding: 0 54px 40px 54px;
}

.vs-video {
    width: 1178px;
    height: 663px;
}

.video__title {
    font-family: 'Heebo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 29px;
    display: flex;
    align-items: center;
    letter-spacing: -0.04em;

    color: #FFE500;
    margin-bottom: 5px;
}

.statistics {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.statistics__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel {
    display: flex;
    align-items: center;
}

.channel__name {
    cursor: pointer;
}

.channel__name:hover {
    text-decoration: underline;
}

.channel__avatar {
    width: 37px;
    height: 37px;
}

.channel__info {
    margin-left: 11px;
}

.channel__subscribe-button {
    width: 120px;
    padding: 10px 0;
    background-color: var(--vs-yellow);
    border: 1px solid var(--vs-yellow);
    color: #1F1D1D;
    transition: 200ms;
    margin-left: 21px;
}

.channel__subscribe-button:hover {
    background-color: unset;
    color: var(--vs-yellow);
    transition: 200ms;
}

.reputation {
    display: flex;
    align-items: center;
}

.reputation__likes {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    gap: 6px;
    transition: 200ms;
    border-radius: 20px 0 0 20px;
    border-right: 1px solid var(--vs-yellow);
}

.reputation__likes:hover {
    background-color: var(--vs-highlighted);
    transition: 200ms;
}

.reputation__hr {
    width: 20px;
    border: 1px solid var(--vs-yellow);
    transform: rotate(90deg);
}

.reputation__dislikes {
    border-radius: 0 20px 20px 0;
    display: flex;
    padding: 10px 20px 10px 20px;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    transition: 200ms;
    border-left: 1px solid var(--vs-yellow);
}

.reputation__dislikes:hover {
    background-color: var(--vs-highlighted);
    transition: 200ms;
}

.reputation__text {
    font-family: var(--vs-russian-font);
    font-size: 14px;
    letter-spacing: -0.04em;
    pointer-events: none;
    color: var(--vs-yellow);
}

.share {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px;
    transition: 200ms;
    cursor: pointer;
    border-radius: 20px;
}

.share:hover {
    background-color: var(--vs-highlighted);
    transition: 200ms;
}

.share__text {
    font-family: var(--vs-russian-font);
    font-size: 14px;
    letter-spacing: -0.04em;
    pointer-events: none;
    color: var(--vs-yellow);
}

.report {
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 10px;
    transition: 200ms;
    cursor: pointer;
}

.report:hover {
    background-color: var(--vs-highlighted);
    transition: 200ms;
}

.report__text {
    font-family: var(--vs-russian-font);
    font-size: 14px;
    letter-spacing: -0.04em;
    pointer-events: none;
    color: var(--vs-yellow);
}

.views {
    display: flex;
    align-items: center;
    gap: 17px;
}

.views__text {
    font-family: var(--vs-russian-font);
    font-size: 14px;
    letter-spacing: -0.04em;

    color: var(--vs-yellow);
}

.description {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.description__title {
    font-family: 'Heebo', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;

    color: var(--vs-yellow);
}

.description__text {
    max-width: 1100px;
    font-family: var(--vs-russian-font);
    font-size: 14px;
    line-height: 25px;
    letter-spacing: 0.05em;

    color: var(--vs-yellow);
}

.sidebar {
    width: 420px;
    display: flex;
    flex-direction: column;
    gap: 21px;
}

.sidebar-menu {
    background-color: #1F1D1D;
    z-index: 1;
    padding: 0 20px 100vh 20px;
    position: absolute;
    left: 20px;
}

.sidebar__case {
    width: 420px;
}

.sidebar-mini {
    display: none;
}

.case {
    display: flex;
    align-items: center;
    gap: 11px;
}

.case__img {
    width: 187px;
    height: 105px;
}

.case__title {
    font-family: 'Heebo', sans-serif;
    font-size: 16px;
    letter-spacing: -0.04em;

    color: var(--vs-yellow);
}

.case__channel {
    font-family: 'Heebo', sans-serif;
    font-size: 14px;
    font-weight: 700;
    margin-top: 5px;
    letter-spacing: -0.04em;

    color: var(--vs-yellow);
}

.case__views-block {
    display: flex;
    align-items: center;
    gap: 17px;
}

.case__views {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -0.04em;

    color: var(--vs-yellow);
}

.video__commentaries {
    margin-top: 30px;
}

.commentaries {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.commentaries__case {
    display: flex;
    gap: 10px;
}

.commentaries__count {
    font-family: var(--vs-russian-font);
    font-size: 14px;
    letter-spacing: -0.04em;

    color: var(--vs-yellow);
}

.commentaries__avatar {
    display: block;
    width: 24px;
    height: 24px;
}

.commentaries__block {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.commentaries__info {
    display: flex;
    align-items: center;
    gap: 6px;
}

.commentaries__nick {
    font-family: "Heebo", sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.04em;

    color: var(--vs-yellow);
}

.commentaries__nick:hover {
    text-decoration: underline;
}

.commentaries__time {
    font-family: var(--vs-russian-font);
    font-size: 14px;
    letter-spacing: -0.04em;

    color: var(--vs-yellow);
}

.commentaries__text {
    font-family: var(--vs-russian-font);
    font-size: 14px;
    max-width: 600px;
    letter-spacing: -0.04em;

    color: var(--vs-yellow);
}

.commentaries__reputation img {
    display: block;
}

.commentaries__reputation {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.commentaries__like {
    padding: 10px;
    border-radius: 10px;
    transition: 200ms;
    cursor: pointer;
}

.commentaries__like:hover {
    background-color: var(--vs-highlighted);
    transition: 200ms;
}

.commentaries__dislike {
    padding: 10px;
    border-radius: 10px;
    transition: 200ms;
    cursor: pointer;
}

.commentaries__dislike:hover {
    background-color: var(--vs-highlighted);
    transition: 200ms;
}

.commentaries__answer {
    background-color: unset;
    border: none;
    font-family: sans-serif;
    color: var(--vs-yellow);
}

.commentaries__answer:hover {
    text-decoration: underline;
}

.commentaries__input:focus ~ .commentaries__label,
.commentaries__input:valid ~ .commentaries__label {
    top: 0;
    transition: 200ms;
}

.commentaries__input-box {
    position: relative;
}

.commentaries__text-area {
    position: relative;
    display: block;
    width: 90%;
    background-color: unset;
    padding: 5px 11px;
    font-family: var(--vs-russian-font);;
    font-size: 13px;
    letter-spacing: 0.1em;
    border: 0;
    border-bottom: 1px solid var(--vs-yellow);
    outline: 0;
    resize: none;
    color: var(--vs-yellow);
}

.commentaries__submit {
    border-radius: 60px;
    position: absolute;
    padding: 15px;
    left: 90%;
    top: -5px;
    width: 20px;
    height: 20px;
    background-image: url("images/submit.svg");
    background-repeat: no-repeat;
    background-color: unset;
    background-position: center center;
    background-size: 20px 20px;
    border: 0;
    cursor: pointer;
    transition: 200ms;
}

.commentaries__submit:hover {
    background-color: var(--vs-highlighted);
    transition: 200ms;
}